.adoption{
    margin-top: 3.5rem;
    background-color: $orange;
    height: 496px;

    &__container{
        display: flex;
    }

    &__title{
        margin-top: 9%;
        margin-left: 70px;
        flex: 1;
    }

    &__btn-second{
        color: $darkblue;
        padding: 13px 33px;
        border-radius: 60px;
        background-color: transparent;
        cursor: pointer;
        border: 1px solid $darkblue;
        outline: none;
        transition: .5s ease-in-out;
        font-size: 14px;
        font-weight: 700;
        margin-right: 20px;
        margin-top: 40px;

        &:hover{
            color: $white;
            background-color: $darkblue;
            border: 2px solid $white;
            font-size: 14px;
            font-weight: 700;
        }
    }

    &__top{
        color: $darkblue;
        font-size: 60px;
        font-weight: 700;
        line-height: 52px;
        padding-bottom: 20px;

    }

    &__bottom{
        color: $darkblue;
        font-size: 46px;
        font-weight: 700;
        line-height: 54px;
        text-transform: capitalize;
        padding-bottom: 20px;
    }

    &__text{
        color: $grey;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }
}