.header{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    padding: 3rem 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list{
        display: flex;
    }

    &__item{
        line-height: 24px;
        color: $darkblue;
        font-size: 20px;
        font-weight: 700;
        margin-left: 70px;

        &:hover{
            opacity: .7;
        }
    }
    .search{
        margin-right: 50px;

        &__input{
            padding: 7px 20px;
            border-radius: 60px;
            outline: none;
            border: none;
            margin-right: 10px;
            background-color: $white;
            cursor: pointer;
        }
    }

    .dropdown{ 

        &__language{
            width: 100px;
            cursor: pointer;
            font-size: 20px;
            font-weight: 700;

            &:hover .dropdown__menu{
                display: block;
            }
        }

        &__menu{
            background-color: $darkblue;
            border: 1px solid $grey;
            box-shadow: 0px 1px 10px $grey;
            border-radius: 10px;
            display: none;
            position: absolute;
            color: $white;
        }

        &__drop{
            width: 170px;
            display: block;
            padding: 10px 20px;
            transition: .5s;

            &:hover{
                background-color: $grey;
            }
        }
    }
}