.knowledge{
    
    &__title{
        display: flex;
        justify-content: space-between;
        margin-right: 20px;
        margin-top: 3.5rem;
        margin-bottom: 60px;
    }

    &__span{
        color: $darkblue;
        font-size: 24px;
        font-weight: 700;
    }

    h3{
        color: $grey;
        font-size: 16px;
        font-weight: 700;
    }

    &__btn-second{
        color: $darkblue;
        padding: 13px 43px;
        border-radius: 60px;
        background-color: transparent;
        cursor: pointer;
        border: 1px solid $darkblue;
        outline: none;
        transition: .5s ease-in-out;
        font-size: 14px;
        font-weight: 700;
        margin-right: 20px;

        &:hover{
            color: $white;
            background-color: $darkblue;
            border: 2px solid $white;
            font-size: 14px;
            font-weight: 700;
        }
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;

        &__card{
            width: 392px;
            height: 440px;
            box-shadow: 0 2px 5px $grey;
            padding: 10px 15px;
            border-radius: 20px;
            transition: .5s;

            &:hover{
                transform: scale(1.2);
            }
        }

        &__btn{
            color: $white;
            background-color: $blue;
            padding: 6px 10px;
            border-radius: 20px;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 700;
            margin-top: 10px;
        }

        h3{
            color: $darkblue;
            font-size: 16px;
            font-weight: 700;
            margin-top: 10px;
        }

        p{
            color: $grey;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            margin-top: 15px;
        }
    }
}